/* HTML marker styles */
/* DARK THEME START ---------------------------------------------------------------------------*/
// .theme--dark  .popup_background_noviolet
// {
// background-color: #2d2d30!important;
// }
body{
  background-color: map-get($material-dark, 'background') !important;

}
.theme--dark .customer-card-backgrounds
{
      background-color:#121C2B!important;
}
.theme--dark .violet {
  background-color: #6946dd;
}
.theme--dark .customer-background
{
  // background-color:#04042d!important;
    // background-color:#121C2B!important;
     background-color:#121C2B!important;

}

.customer-background .theme--dark.v-toolbar.v-sheet
{
   background-color:#121C2B!important;
}
.customer-background .theme--dark.v-card
{
   background-color:#121C2B!important;
}
.customer-background .theme--dark.v-tabs-items
{
   background-color:#121C2B!important;
}
.customer-background .theme--dark.v-tabs > .v-tabs-bar
{
     background-color:#121C2B!important;

}

.theme--dark.v-tabs-items.customer-background
{
     background-color:#121C2B!important;

}



.theme--dark .popup_background_noviolet button {
  color: #FFF !important;
}
.theme--dark .v-dialog > .v-card > .popup_background_noviolet {
  background-color: #2d2d30 !important  ;
  padding: 5px 6px 5px !important;
  color: #FFF !important;
}
// .theme--dark  .v-dialog > .v-card > .popup_background_noviolet
// {
//   background-color:#fff!important;

// }
.theme--dark .v-dialog--active {
  border: 1px solid #443f6f;
}

.theme--dark  .v-timeline-item__body > .v-card:not(.v-card--flat)::after

{
  border-right-color:#fff!important;
}




// .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active)
// {
//   color:black!important;
// }

.theme--dark.v-tabs > .v-tabs-bar
{
   background-color: map-get($material-dark, 'surface')   !important;

}

.theme--dark.v-tabs-items
{
   background-color: map-get($material-dark, 'surface') !important;
}
.theme--dark .border-color{
  border-color:#353538!important;
}

.v-application .theme--dark  .secondary--text
{
  color:#FFF!important;
}
.theme--dark.v-data-table
{
  background-color: transparent!important;
}

.theme--dark .simpletable table,
.theme--dark .simpletable th,
.theme--dark .simpletable td {
  border-bottom: 1px solid #353538;
  border-collapse: collapse;
}
.theme--dark .simpletable tr:last-child td {
  border-bottom: 1px solid #353538;
  border-collapse: collapse;
}
.theme--dark .simpletable td {
  height: 50px;
  inline-size: 100px;
  overflow: hidden;

  vertical-align: middle;
}
.theme--dark .font-color
{
color:#FFF!important;
}

.theme--dark.v-card {
  /*background-color: #10154d!important;*/

   background-color: map-get($material-dark, 'surface')  ;
}

.theme--dark .background
{

  background-color: map-get($material-dark, 'background') !important;
  //  background-color:#2d2d30 !important;

}
.theme--dark .v-btn__content
{
   color: map-get($material-dark, 'on-surface') !important;

}

.theme--dark .v-btn > .v-btn__content .v-icon
{
   color: map-get($material-dark, 'on-surface') !important;

}

.theme--dark.v-card > .v-card__text, .theme--dark.v-card > .v-card__subtitle
{
   color: map-get($material-dark, 'on-surface') !important;

}

.theme--dark.v-app-bar.v-toolbar.v-sheet
{
   background-color: map-get($material-dark, 'surface') !important;
   box-shadow: none!important;
}

.theme--light .doughtchart .apexcharts-text
{
fill:black!important;
}
.light--light .doughtchart .apexcharts-text
{
fill:black!important;
}

// .theme--light .apexcharts-legend-text
// {
// color:black!important;
// }

// .theme--light .apexcharts-legend-text, .theme--light  .apexcharts-yaxis, .theme--light  .apexcharts-xaxis
// {
// color:black!important;
// }

